@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.dark {
  background-color: #161b22;
  /* background-color: #2e2e2e; */

  color: rgb(232, 232, 232);
}
.font-web {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
}

.font-hind-siliguri {
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
}
.jaro-font {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
.font-rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
